<!DOCTYPE html>
<html>
<head>
    <title>AI Career Intelligence Platform</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="login-box">

<h1>AI Career Intelligence Platform</h1>

<h3>Candidate | Recruiter | Admin Login</h3>

<form action="/login" method="POST">

<input
type="text"
name="username"
placeholder="Username"
required>

<input
type="password"
name="password"
placeholder="Password"
required>

<button type="submit">
Login
</button>

</form>

<br>

<a href="/register">Create New Account</a>

</div>

</body>
</html>